# Environments
.env
.env.*
!.env.example

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Dependencies
vendor/
node_modules/
__pycache__/
*.pyc
.venv/
venv/
env/

# Build
build/
dist/
*.apk
*.aab
*.jar
*.war

# Logs and DB
logs/
*.log
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Android & Gradle
.gradle/
local.properties
.dockerignore

